@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

// Side bar for Mobile

.sidebar {
  padding-left: 1rem;
  padding-right: 1rem;
  &__caption {
    color: $silver;
  }

  &__thumbnails {
    width: 200px;
    height: 70px;
    display: inline-block; /* makes it fit in like an <img> */
    background-size: cover; /* or contain */
    background-position: center center;
    background-repeat: no-repeat;
    &-img {
      background-color: $mercury;
      border-radius: 4px;
      width: 100px;
      height: 100%;
      object-fit: cover;
    }
  }
}

// Side bar for Tablet

// Side bar for Desktop
