@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

// Side bar for Mobile
.sidebar {
  padding: 0 1rem 1rem 1rem;

  &__caption {
    color: $silver;
    margin: 1.5rem 0;
  }

  &__thumbnails {
    display: inline-block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &-wrapper {
      display: flex;
      justify-content: flex-start;
      gap: 0.9rem;
      margin-bottom: 0.5rem;
    }

    &-img {
      background-color: $mercury;
      border-radius: 0.25rem;
      width: 7.5rem;
      height: 4.375rem;
      object-fit: cover;
    }
  }

  &__text-wrapper {
    position: relative;
  }
  &__title {
    color: $brain-flix-black;
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    margin: 0;
    inline-size: 15rem;
    max-width: 9.8rem;
  }

  &__channel {
    color: $brain-flix-black;
    font-size: 0.8125rem;
    position: absolute;
    bottom: 0.25rem;
    margin: 0;
  }
}

// Side bar for Tablet
@include medium {
  .sidebar {
    padding-left: 2rem;
    padding-right: 2rem;

    &__thumbnails {
      &-wrapper {
        margin-bottom: 1.5rem;
      }
      &-img {
        width: 8.125rem;
        height: 4.6875rem;
      }
    }
  }
}

// Side bar for Desktop
@include large {
  .sidebar {
    padding-right: 6rem;
    padding-left: 1.5rem;
    border-left: 1px solid $mercury;
  }
}
