@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.wrapper__success {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: 1px solid $mercury;
  margin: 0 -1rem;
  padding: 1.5rem 0 1.5rem 1rem;
}

.text__success {
  color: $brain-flix-black;
  padding-bottom: 1rem ;
}


// Check mark from https://www.youtube.com/watch?v=IuN8oRbLjC0
:root {
    --check-size: 200px;
    --check-border-width: 5px;
    --checkmark-width: calc(var(--check-size) / 2);
    --checkmark-height: calc(var(--checkmark-width) / 2);
    --checkmark-left: calc(var(--checkmark-width) / 2);
    --checkmark-top: 50%;
    --checkmark-color: #0095FF;
}

.checkmark__wrapper {
    width: var(--check-size);
    height: var(--check-size);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.checkmark__wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    border: var(--check-border-width) solid #FAFAFA;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    z-index: 0;
}

.checkmark__wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    border: var(--check-border-width) solid transparent;
    border-left-color: var(--checkmark-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    z-index: 1;
    animation: circle linear forwards .75s;
}

.checkmark {
height: var(--checkmark-height);
width: var(--checkmark-width);
position: absolute;
opacity: 0;
left: var(--checkmark-left);
top: var(--checkmark-top);
display: block;
border-left: var(--check-border-width) solid var(--checkmark-color);
border-bottom: var(--check-border-width) solid var(--checkmark-color);
transform-origin: left top;
transform: rotate(-45deg);
animation: checkmark linear both 1s;
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 0;
      }
      80% {
        height: 0;
        width: 0;
        opacity: 0;  
      }
      90% {
        height: var(--checkmark-height);
        width: 0;
        opacity: 1;
      }
      100% {
        height: var(--checkmark-height);
        width: var(--checkmark-width);
        opacity: 1;
      }
}

@keyframes circle {
    0% {
        border-color: transparent;
        border-left-color: var(--checkmark-color);
    }
    90% {
        transform: rotate(-360deg);
        border-color: transparent;
        border-left-color: var(--checkmark-color);
    }
    100% {
        transform: rotate(-360deg);
        border-color: var(--checkmark-color);
    }
}

.button__ok {
  color: $white;
  font-size: 1rem;
  font-family: "Avenir Next";
  background-color: $brain-flix-blue;
  border: none;
  border-radius: 4px;
  width: 10rem;
  height: 3rem;
  &:hover {
    background-color: $brain-flix-dark-blue;
  }
}
