@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/button" as *;

//Hero information section for Mobile
.video {
  &__details {
    padding-left: 1rem;
    padding-right: 1rem;

    &-caption {
      color: $brain-flix-black;
      padding-bottom: 1rem;
      margin-bottom: 0;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2rem;
      border-bottom: 1px solid $mercury;
    }

    &-wrapper {
      padding: 1rem 0;
      display: flex;
      justify-content: space-between;
      gap: 4rem;
      border-bottom: 1px solid $mercury;
    }

    &-channel {
      color: $brain-flix-black;
      font-size: 0.8125rem;
      line-height: 1.125rem;
      font-weight: 700;
    }

    &-timestamp {
      font-size: 0.8125rem;
      color: $silver;
    }

    &-right,
    &-left {
      display: flex;
      flex-direction: column;
    }

    &-container {
      display: flex;
      flex-direction: row;
    }

    &-numbers {
      color: $silver;
      font-size: 0.8125rem;
      padding-left: 0.5rem;
      display: flex;
      flex-direction: row;
    }

    &-icon {
      width: 1.25rem;
    }

    &-description {
      color: $brain-flix-black;
      font-size: 0.8125rem;
      font-weight: 400;
      line-height: 1.125rem;
    }
  }
}

// Comments for Mobile
.comments {
  padding-left: 1rem;
  padding-right: 1rem;

  &__number {
    color: $brain-flix-black;
    margin: 1rem 0;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 700;
  }

  &__img {
    margin-top: 1.7rem;
    object-fit: cover;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
  }

  &__form {
    display: flex;
    border-bottom: 1px solid $mercury;
    padding-bottom: 1rem;

    &-wrapper {
      width: 100%;
    }

    &-label {
      color: $silver;
      font-size: .75rem;
    }

    &-input {
      background-color: $alabaster;
      width: 100%;
      padding: 0.75rem;
      border: 1px solid $mercury;
      border-radius: 0.25rem;
      outline: none;
      margin-top: 0.25rem;
      margin-bottom: 1rem;
      &:active {
        border: 2px solid $brain-flix-blue;
      }
    }
  }

  ::placeholder {
    color: $brain-flix-black;
    font-family: "Avenir Next";
  }

  &__button-submit {
    background: url(../../assets/icons/add_comment.svg);
    @include btn-back-ground;
    @include btn-theme;
  }

  &__fans {
    border-bottom: 1px solid $mercury;
    display: flex;
    padding-bottom: 1rem;
  }

  &__avatar {
    background-color: $mercury;
    margin-top: 1rem;
    object-fit: cover;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    flex-shrink: 0;
  }

  &__info {
    width: 100%;
    &-wrapper {
      display: flex;
      justify-content: space-between;
    }
    &-name {
      align-self: center;
      color: $brain-flix-black;
      font-weight: 700;
      font-size: 0.9rem;
    }

    &-timestamp {
      color: $silver;
    }

    &-text {
      color: $brain-flix-black;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

// Hero information for Tablet
@include medium {
  .video {
    &__details {
      padding-left: 2rem;
      padding-right: 2rem;

      &-caption {
        padding-bottom: 1rem;
        margin-top: 1.5rem;
        font-size: 2.0625rem;
        line-height: 2.75rem;
        border-bottom: none;
      }

      &-wrapper {
        padding: 0;
      }

      &-left,
      &-right {
        flex-direction: row;
      }

      &-right {
        gap: 2rem;
      }

      &-channel {
        inline-size: 9rem;
        font-size: 0.875rem;
        line-height: 1.375rem;
      }

      &-timestamp {
        inline-size: 8rem;
        align-self: center;
        font-size: 0.875rem;
        padding-top: 0;
      }

      &-numbers {
        align-self: center;
        font-size: 0.875rem;
      }

      &-icon {
        align-self: center;
        width: 1.3125rem;
      }

      &-description {
        font-size: 0.9063rem;
        line-height: 1.375rem;
      }
    }
  }

  // Comments section for Tablet
  .comments {
    padding-left: 2rem;
    padding-right: 2rem;

    &__number {
      inline-size: 6rem;
      font-size: 0.875rem;
      line-height: 1.375rem;
    }

    &__img {
      margin-top: 1.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }

    &__form {
      width: 100%;
      flex-direction: row;
      padding-bottom: 0.5rem;

      &-comment {
        width: 100%;
      }
      &-wrapper {
        display: flex;
        width: 100%;
        gap:1.5rem;
      }
      &-input {
        height: 2.5rem;
        width: 100%;
      }
    }
    
    &__button-submit {
      justify-content: flex-end;
      max-width: 9.375rem;
      margin-top: 1.5rem;
      padding-left: 2rem;
      height: 2.5rem;
    }

    &__fans {
      padding: 1rem 0 2rem 0;
    }
  }
}

// Hero information for Desktop
@include large {
  .video {
    &__details {
      padding-left: 6rem;
      padding-right: 0;

      &-caption {
        padding: 0 1rem 0 0;
      }

      &-wrapper {
        padding-right: 1rem;
        display: flex;
      }

      &-right {
        justify-content: space-between;
      }

      &-description {
        padding-right: 1rem;
        font-size: 1rem;
      }
    }
  }

  // Comments section for Desktop
  .comments {
    padding-left: 6rem;
    padding-right: 0;

    &__form {
      border-bottom: none;
      padding-right: 1rem;

      &-input {
        width: 32.5rem;
      }
    }

    &__fans {
      border-top: 1px solid $mercury;
      border-bottom: none;
      padding-right: 1rem;
    }
  }
}
